.sidebar {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #F3F2ED;
    width: 240px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 72px;
    transition: all 0.3s ease;
    overflow-x: hidden;
    overflow-y: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.sidebar > a {
    margin-top: 32px;
}

.sidebar > a img {
    height: 50px;
}

.sidebar .nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar .nav ul {
    display: flex;
    flex-direction: column;
    gap: 18px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar .nav ul a {
    width: 100%;
    border-radius: 8px;
    transition: all 0.3s ease;
    text-decoration: none;

    &:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }
}

.sidebar .nav ul a li {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 16px;
    color: #333;
    font-size: 1rem;
    font-weight: 500;
    transition: all 0.3s ease;
    padding: 12px 24px;
}

.sidebar .nav ul a li .icon-text {
    display: inline;
}

.active-page {
    background-color: #333;
    border-radius: 8px;

    span {
        color: #F3F2ED;
    }
}



@media (max-width: 1024px) {
    .sidebar {
        width: 0;
    }
}